html {
    height: 100%;
  }
  
  body {
    background-color: #85bb65; 
  }
  
  p {
    font-family: helvetica;
    font-size: 14px;
    line-height: 1.8em;
    margin: 15px 20px 15px 25px;
  }
  
  h1 {
    font: normal 175% helvetica;
    font-weight: bold;
    text-align: center;
    color: #000;
    font-size: 35px;
  }
  
  h2 {
    font: normal 175% helvetica;
    font-weight: bold;
    margin: 15px 20px 15px 20px;
    text-align: center;
    color: #000;
  }
  
  h3 {
    font: normal 175% helvetica;
    font-weight: bold;
    margin: 15px 20px 15px 20px;
    text-align: center;
    color: #000;
  }
  
  h4 {
    font: normal 195% helvetica;
    margin: 15px 20px 15px 20px;
    text-align: center;
    color: #000;
  }

  h5 {
    font: normal 165% helvetica;
    margin: 15px 20px 15px 20px;
    text-align: center;
    color: #000;
  }

  h6 {
    font-family: helvetica;
    font-size: 15px;
    line-height: 1.8em;
    margin: 15px 20px 15px 25px;
  }
  
  #main {
    width: 1400px;
  }
  
  #header {
    width: 1400px;
  }
  
  #logo {
    width: 1155px;
    background: url(stocks-logo.jpg);
    height: 220px;
    margin: 0 101px 0 135px;
  }
  
  #logo_text h1 {
    text-align: center;
    padding: 10px 0 0 0;
    color: #fff;
    text-decoration: none;
  }
  
  #logo_text h2 {
    font-size: 130%;
    text-align: center;
    padding: 0 0 0 0;
    color: #fff;
    text-decoration: none;
  }
  
  #logo_text h3 {
    font-size: 130%;
    text-align: center;
    padding: 0 0 0 0;
    color: #fff;
    text-decoration: none;
  }
  
  #logo_text h3 a:link {
    color: #fff;
    text-decoration: none;
  }
  
  #logo_text h3 a:visited {
    color: #fff;
  }
  
  #logo_text h3 a:hover {
    color: navy;
  }

.navbar {
    overflow: hidden;
    background-color: navy;
    width: 1155px;
    margin: 0 101px 0 135px;
  }
  
  .navbar a {
    float: left;
    font-size: 14px;
    font-family: helvetica;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 14px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 14px;
    background-color: inherit;
    font-family: helvetica;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: crimson;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 50px;
    box-shadow: 0 8px 16px 0 #ccc;
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ccc;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  #site_content {
    width: 1400px;
    overflow: hidden;
    background: #85bb65;
  }
  
  #content {
    border: 1px solid #000;
    text-align: left;
    width: 1153px;
    margin: -1px 101px 20px 135px;
    padding-bottom: 15px;
    float: left;
    background: #fff;
  }
  
  #content ul {
    font: normal 90% helvetica;
    margin: 0 25px 0 15px;
    line-height: 1.8em;
  }
